html, body, h1, h2, h3, h4, h5, ul, li {
    padding: 0;
    margin: 0;
}
html, body {
    min-height: 100%;
}
body {
    margin: 0;
    background-color: #C33;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(45deg,#936, #C33 12%);
    background-repeat: no-repeat;
}
main {
    display: block;
    padding: 0 80px;
    
}
header img {
    padding: 15px 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
header form {
    display: flex;
    justify-content: space-between;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.16);
}
header input[type="search"] { 
    height: 55px;
    width: 98%;
    border: none;
    padding: 15px;
    color: #FFF;
    font-size: 1.5em;
    background-color: transparent;
    background-image: url(../images/ico.png);
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.5;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
header input[type="image"] {
    padding: 17px;
    border: none;
    opacity: 0.5;
}
header input::placeholder {
    color: #FFF;
    opacity: 0.52;
}
header input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}
header input::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFF;
}
section h1 {
    font-size: 4em;
    font-weight: 200;
    color: #C66;
    margin: 50px 10px 20px;
}
section h3,
section ul li a {
    font-size: 1.5em;
    font-weight: 100;
    padding-left: 10px;
}
section h3 {
    color: #FFF;
    margin-bottom: 10px;
}
section ul li {
    list-style: none;
}
section ul li a {
    display: block;
    width: 80%;
    color: #C66;
    text-decoration: none;
    padding: 10px;
}
section ul li a span {
    font-size: 0.75em;
}
section ul li a:hover,
section ul li a.active {
    color: #f9c;
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width:783px) {
    main {
        padding: 0 10px 80px;
    }
    header input[type="search"] {
        width: 90%;
    }
    section h1 {
        font-size: 2.5em;
        font-weight: 500;
        margin: 20px 10px 10px;
    }
    section h3,
    section ul li a {
        font-size: 1.2em;
        font-weight: 400;
        padding-left: 10px;
    }
    section ul li a span {
        font-size: 1em;
    }
    section ul li a {
        width: 95%;
    }
}